*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Arial", "Helvetica", "sans-serif";
  --ff-secondary: , "Cantarell", "Fira Sans", monospace;

  --fw-reg: 300;
  --fw-bold: 600;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr-dark-purple: #151728;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 0.9rem;
  --quote-fs: 2rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --bg-color: #151728;
  --border-color: #272a3a;
  --title-font: "DM Sans", sans-serif;
  --body-font: "Source Sans Pro", sans-serif;
  --side-title: #f4f5f7;
  --button: #8f98a9;
}

/* General styles */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  overflow-y: scroll;
  font-family: var(--body-font);
  background-color: #000000;

  color: #ccc8db;
}

body::-webkit-scrollbar {
  display: none;
}

.menu {
  width: 250px;
  height: 100%;
  padding-left: 20px;
  position: fixed;
  right: -200px;
  z-index: 100;
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  background-color: var(--bg-color);
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px var(--bs);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-left: 1px solid var(--border-color);
  cursor: pointer;
}

.menu:hover {
  transform: translate3d(-200px, 0, 0);
  animation-timing-function: 1s ease-in;
  transition: all 0.5s;
}

.title {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: -2px;
  font-weight: 500;
  font-size: 1var (--fs-h1);
  padding: 0 0 0 15px;
  letter-spacing: 3px;
}

.nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100;
}

.nav_item {
  padding: 2rem;
  list-style-type: none;
}

.nav_link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  font-size: var(--fs-h3);
}

.nav_link:hover {
  color: var(--clr-light);
}

/* HomeScreen  Styles*/
.homescreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 10px;
}



.card:hover {
  cursor: pointer;
  box-shadow: 0px 14px 80px rgba(217, 219, 243, 0.2);
  transform: scale(1.2);
  opacity: 1.2;
}

.card {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 14px 80px rgba(78, 80, 122, 0.2);
  background-color: #161b30;
  color: #c3c5d5;
  border-radius: 7px;

  @media screen (max-width: 565px) {
    max-width: 300px;
    padding: 0;
    margin-right: 55px;
  }
}

.card-title {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: var(--fs-h3);
  justify-content: center;
  align-items: flex-end;
}

.card-title-img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  object-position: center;
  object-fit: cover;
}

.card-title-info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  flex: 1;
}

.card-title-username  {
  font-size: var(--fs-h3);
  padding: 10px 10px 10px 0;
}
.card-title-location, .card-title-role {
  font-size: var(--fs-body);
  padding: 5px
}

.card-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-section-quote {
  display: flex;
  flex-wrap: 1;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  text-align: right;
  max-width: 500px;
  font-size: var(--fs-body);
  font-family: var(--ff-secondary);
}

@media screen and (max-width: 565px) {
  .card-section-quote{
    max-width: 300px;
    text-align: center;
    justify-content: center;
    padding-left: 5px;
  }
  .homescreen{
    max-width: 300px;
    padding: 0;
  }
}
.quote-icon {
  font-size: 0.5rem;
}

.card-section-footer {
  display: flex;
  flex-direction: row;
}

/* profile screen.cs */
.profile-container{
  display: flex;
  margin:auto;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}

.profile-head-background{
  margin-top: 10%;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(236, 236, 243, 0.5), rgba(255, 254, 254, 0.5)),
  url('./assets/dali-background.jpg');
}

.profile-head-image-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
  padding:20px;
}

.profile-head-image{
  border-radius: 50%;
  display: block;
  width: 225px;
  height: 225px;
  object-position: center;
  object-fit: cover;
}

.profile-username-section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Profile section */
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: auto;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: right;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border: none;
  height: auto;
  display: none;
}

.Tokyo{
  color: aliceblue;
  border: 1px solid blueviolet
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}